.about-content {

  

    h2 {
       padding-top: 2rem;
       color:red;
    }

 

    @include tabletQuery {
       .about-grid {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            gap:50px;
       }
    }
}