/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    font-size: 1rem;
    padding: .25rem 1rem;
    margin: -.125rem;
    width: 100%;
    text-align: left;
    border: .125rem solid $fan-teal;
    background-color: $fan-white;
    transition: 0.4s;
    position: relative;
    &::after{
        content: '▼';
        position: absolute;
        top: 2rem;
        right: 1rem;
        margin-left: 1rem;
    }
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    border: .125rem solid $fan-teal;
    background-color: $fan-teal;
    color: $fan-white;
  }

  .active::after{
    content: '▲';
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 1rem;
    visibility: hidden;
    background-color: $fan-white;
    height: 0;
    border: .125rem solid $fan-teal;
    margin: -.0625rem 0;

  }

.active+.panel{
    visibility: visible;
    height: 100%;
}

.contact{
    @include flexColumn;
    align-items: center;
    padding-top: 2rem;

    a{
        color: $fan-black;
        
        &:hover{
            color: $fan-teal;
        }
    }
}