.page-bottom-section{

    .buy-tickets-cta{
        @include flexColumn;
        align-items: center;
        padding: 2rem 0;
        max-width: 210px;
        margin: 0 auto;
        

        a{
            color: $fan-black;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0.75rem 3rem;
            background-color: $color__button_background;
            border: 2px solid $color__button_border;
            border-radius: .25rem;
            transition: background-color .3s ease-in;


            &:hover{
                color: $color__button-text-invert;
                background-color: $color__button_background_invert;
                transition: background-color .3s ease-in,  color .3s ease-in;
            }
        }
    }

    
    .feat-vendors{
        padding: 0 0 2rem 0;

        div{
            display: grid;
            grid-template-columns: 4.9rem 4.9rem 4.9rem; 
            justify-content: space-between;
            gap: 1.5rem;

            @include tabletQuery{
                @include flexRow;
                justify-content: space-between;
            }

            img{
                max-width: 4.9rem;
            }
        }
    }

}