.page-bottom-section{

    article{
        padding: 2rem;

        a{
            color: $fan-black;
            padding: 0.75rem 3rem;
            width: 183rem;
            border: 2px solid $fan-black;
            border-radius: .25rem;
            text-transform: uppercase;
        }
    }
}