.schedule-container {
    
   
    
    .schedule {

        &:nth-of-type(odd) {
            background-color: $color__main-accent;
        }

        a {
            display: grid;
            grid-auto-rows: 5rem;
            grid-template-columns: minmax(5rem, 1fr) 2fr minmax(5rem, 1fr);
            align-items: center;
            color: $color__link;
            text-decoration: none;
            padding: 0.5rem 1rem;

            h3 {
                margin: 0;
                font-size: $fan-p-size;

                @include tabletQuery {
                    font-size: 1.25rem;
                }
            }

            p {
                margin: 0;
            }
        }
       
    }
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

    .tablinks.active {
        background-color: #ccc;
    }
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }