.schedule-container {
    
   
    
    .schedule {

        &:nth-of-type(odd) {
            background-color: $fan-main-accent;
        }

        a {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            align-items: center;
            color: $fan-black;
            text-decoration: none;
            padding: 0.5rem 1rem;

            h3 {
                margin: 0;
            }

            p {
                margin: 0;
            }
        }
       
    }
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

    .tablinks.active {
        background-color: #ccc;
    }
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }