
.single-event-header {
    margin-top: 2rem;

   
    @include desktopQuery {
        display: flex;
    }
    .event-img-container {
        img {
            width: 144rem;
            height: auto;
        }
    }

    

}

.title-description-container {
    padding: 1rem;
    
    @include desktopQuery {
        padding: 1rem 2rem;
    }
    

    h1 {
        margin: 0;
    }
}

.event-details-container {
    display: flex;
    justify-content: space-around;
    background-color: $fan-black;

    p {
        color: $fan-teal;
    }
}
.single-event-guest-container {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-left: 0;
    gap: 2rem;
    overflow: auto;
    white-space: nowrap;

    a {
        text-decoration: none;
        color: $fan-black;
    }
    p {
        text-align: center;
        
    }

    img {
        max-width: 15rem;
        height: 15rem;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
    }
  
}

.heading-container {
    display: flex;
    align-items: center;

    a {
        margin-left: 1rem;
    }
}

.more-events-img-container {
    max-width: 12rem;
    height: 9rem;

    img {
        @include imgDefault
    }
}

.more-events-container {
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    margin: auto;

    a {
        position: relative;
        display: block;
    }

    h3 {
        margin: 0;
        position: absolute;
        color: $fan-teal;
        background-color: rgb($fan-black, 0.9);
        width: 100%;
        text-align: center;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
}

