.entry-footer{
   display: none;
}
.single-container {
   text-align: center;

   .single-event {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      text-align: center;
   }
   
}



@include tabletQuery {
   
      .single-container  {
         display: grid;
         grid-template-rows: 1fr;
         grid-template-columns: 1fr 1fr;
         gap: 150px;
      }
      
   }

