// Styling for Hero Section with Banner img

.hero-section {
    position: relative;

    .page-title {
        position: absolute;
        @include flexCenter;
        margin: 0;
        text-transform: uppercase;
        color: $fan-banner-title-color;
        font-size: $fan-h1-size;
        font-weight: $fan-title-font-weight;
    }

    .post-thumbnail {
        width: 100%;
        height: 500px;

        img {
            @include imgDefault;
        }
    }
}
