// Styling for hero text with no banner

.no-banner-hero {
    .archive-title {
        text-align: center;
        text-transform: uppercase;
        font-size: $fan-h1-size;
        font-weight: $fan-title-font-weight;
    }
}
