// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin tabletQuery {
    @media (min-width: 37.5em) { @content; }
}
@mixin largeTabletQuery {
    @media (min-width: 48em) { @content; }
}
@mixin desktopQuery {
    @media (min-width: 64em) { @content; }
}


@mixin flexColumn {
	display: flex;
	flex-direction: column;
}
@mixin flexRow {
	display: flex;
	flex-direction: row;
}

// For text or anything that wants to be centered inside a container
@mixin flexCenter {
	display: flex;
    align-items: center;
    justify-content: center;
	top: 0;
    width: 100%;
    height: 100%;
}

// For img tags, control size of img with div wrap!
@mixin imgDefault {
	width: 100%;
	height: 100%;
	object-fit: cover;
}