// Site Header

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $fan-header-background-color;
    border-bottom: 1px solid $fan-header-accent-color;

    .site-branding {
        width: 5.5rem;

        @include largeTabletQuery {
            width: 6rem;
        }
    }
    .date-location {
        width: 50%;
        margin: 0.5rem;

        @include largeTabletQuery {
            margin: 1rem;
        }

        p {
            text-align: left;
            margin: 0;
            color: $fan-header-accent-color;
        }
    }
}
