.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $fan-header-background-color;
    border-bottom: 1px solid $fan-header-accent-color;

    .site-branding {
        width: 25%;
    }

    .date-location {
        width: 50%;
        margin: 0 1rem;

        p {
            text-align: left;
            margin: 0;
            color: $fan-header-accent-color;
        }
    }

    .main-navigation {
        width: 25%;

        .menu-toggle {
            width: 100%;
        }
        .menu-main-menu-container {
            width: 100%;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            z-index: 80;
        }
    }
    .toggled {
        .menu-toggle {
            width: 20%;
            position: absolute;
            z-index: 99;
            top: 2rem;
        }
        .menu-main-menu-container {
            background-color: $fan-header-background-color;
            padding: 7rem 2rem 2rem;
            z-index: 80;
        }
        .nav-menu {
            left: 0;
            right: 0;
            top: 0;

            li {
                font-size: 2rem;
                a {
                    color: $fan-text-invert-color;

                    &:hover {
                        color: $fan-text-hover-color;
                    }
                }
            }
        }
    }
}
