a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: dotted 2px $color__link-hover;
		border-radius: 3px;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
