@use "../abstracts/mixins/mixins" as *;

.site {
	max-width: 2200px;
	margin: 0 auto;
}

.site-main {
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
	padding: 0 1rem;

	@include desktopQuery {
		max-width: 2200px;
		display: grid;
		grid-template-columns: 1fr minmax(0, 1000px) 1fr;
		padding: 0;
	}
}

// all children of site-main
.site-main > * { 
	grid-column: 2/3;
}

.site-hero {
	grid-column: 1/4;
	margin: 0 calc(50% - 50vw);
}