@use "../abstracts/mixins/mixins" as *;

.site {
	max-width: 50rem;
	margin: 0 auto;

	@include esktopQuery {
		max-width: 2200px;
		display: grid;
		grid-template-columns: 1fr minmax(0, 1000px) 1fr;
		grid-template-areas:
			"header header header"
			"hero hero hero"
			". main ."
			"footer footer footer";
	}
}

.site-header {
	grid-area: header;
}

.site-hero {
	grid-area: hero;
}

.site-main {
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
	padding: 0 1rem;
	grid-area: main;
}

.site-footer {
	grid-area: footer;
}